<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735637018628-gf98lbj6s6g1gbih60i9sk833pkgq1gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735637018628-gf98lbj6s6g1gbih60i9sk833pkgq1gn</string>
	<key>API_KEY</key>
	<string>$(FIREBASE_API_KEY)</string>
	<key>GCM_SENDER_ID</key>
	<string>735637018628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.v3.buffaloretailgroupmap</string>
	<key>PROJECT_ID</key>
	<string>brgfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>brgfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735637018628:ios:4aafe46855416015167d51</string>
</dict>
</plist>